/*****
LAYOUT
*****/
body{
    background-color: #9C0008;
    color: #fff;
}
html,body , #home, #cadastro, #localizacao,#contatos,#main{
    height: 100%;
    
    overflow-x: hidden; /* Esconde a barra de rolagem na horizontal*/
}

/**************************
NAVBAR - BARRA DE NAVEGAÇÃO
**************************/
nav.navbar-transparente{
    background-color: rgba(0, 0, 0, 0.5);
    padding: 15px 0px;
}
/* efeito para fazer a navbar ficar escura quando o mouse estiver em cima */
nav.navbar-transparente:hover
{
	background-color: rgba(0, 0, 0, 0.9);
}

.navbar-light .navbar-nav .nav-link{ /* caminho que sobrepoem a cor usando o mesmo caminho do bootstrap, pode ser usado usando a ferramenta do desenvoklvedor do chrome*/
    color: white;
}

.navbar-light .navbar-nav .nav-link:hover{ /* caminho que sobrepoem a cor usando o mesmo caminho do bootstrap, pode ser usado usando a ferramenta do desenvoklvedor do chrome*/
    color: green;
}

.navbar-light .navbar-toggler{
    border-color: rgba(255,255,255,);
}

.divisor{ 
    width: 1px;
    background: white;
    margin: 12px 15px;
}

/**************
BANNER PROMOCAO
**************/

.home-promocao
{
    color: white;
    text-transform: uppercase;
    display: inline-block;
    animation: animacao-promocao 3s 3s 9999 alternate;
}

@keyframes animacao-promocao{
    form{
        background: green;
        border-radius: 10px;
    } 
    to{

        border-radius: 10px;
    }
    to{
        background: green;
        border-radius: 10px;
    }
    to{
        border-radius: 10px;
    }
}

.destacador{
    animation: destacador-promocao 1s 0.3s 9999 alternate;
}

@keyframes destacador-promocao{
    from{
        color: white;
    }
    to{
        color: green;
    }
    to{
        color: white;
    }
    to{
        color: green;
    }
}

.destacador-texto{
    animation: texto 1s 1s 9999 alternate;
}
@keyframes texto{
    from{
        color: red
    }
    to{
        color: #9C0008;
    }
    to{
        color: red;
    }
    to{
        color: #9C0008;
    }
}
/***************
CAPA E CAROUSEL
***************/

.capa{
    text-align: center;
    margin-top: 100px;   
}

.fundo-legenda{
    background-color: rgba(0, 0, 0, 0.5);
}

.carousel-control-next, .carousel-control-prev{
    width: 5%;
}
.fa-angle-right:hover{
    color: green;
}
.fa-angle-left:hover{
    color: green;
}
.destaque{
    color:yellow;
}
/***********
LOCALIZAÇÃO
***********/

#localizacao{
    color: white;
   background-color: #09671D;
}
.mapa{
    background: rgba(0, 0, 0, 0.5);
    
}
.local{
    text-align: center;
}
/*******
CONTATOS
*******/

.fundo-contato{
    background-color: rgba(0, 0, 0, 0.5);
    margin-top: 60px;
}



/*****
RODAPÉ
*****/

#rodape{
    background-color: black;
    color: white;
}
footer .navbar-nav a{
    color: white;
    font-size: 0.8em;
    text-decoration: none;
}

footer .navbar-nav a:hover{
    color: gray;
}
.ttexto{
    font-size: 0.8em;
 
}
.centro{
    text-align: center;
    
}


/***************************
CONFIGS DA PAGINA FORMCADPED
***************************/

.cadastro-cliente{
    margin-top: 120px;
}

fieldset{
	border: 1px solid #09671D; /* Define borda */
    
}	

legend{
    font-weight: bold; /* Define a Extressura da fonte */
    text-align: center;
}

hr{
   background-color:  #ccc;
}
/*COMANDO QUE REMOVE AS SETAS DO INPUT NUMBER*/
input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

input[type="number"] {
    -moz-appearance: textfield;
}

.fundo-form{
    background-color: rgba(0, 0, 0, 0.5);
}

/***********************
CONFIG DA PAG DE TABELA
************************/

#tabela{
    margin-top: 130px;
}

.fundo-menu{
    background-color: rgba(0, 0, 0, 0.5);
}

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th { /* esquema para substituir a cor quando o mouse estiver encima da tabela*/
    background-color:  #09671D;
    cursor: pointer;
}

.margem-pesquisa{
    margin-top: 78px;
    margin-bottom: 75px;
}
/*adiciona sombra nas caixas*/
.sombra{
	box-shadow: 0px 5px 5px red;
}


.borda-r{
	border-radius: 15px;
}